<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			App ML
		</div>
		<h2>Clasificación de cáncer de mama: Benigno, Maligno</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Escriba aquí los valores para la clasificación</p>
		<p>Clump thickness (5, 3, 6, ...)</p>
		<textarea name="clump_thickness" rows="1" cols="50"></textarea>
		<br/>
		<p>Uniformity of Cell Size (1, 4, 8, ...)</p>
		<textarea name="cell_size_uniformity" rows="1" cols="50"></textarea>
		<br/>
		<p>Uniformity of Cell Shape (1, 4, 8, ...)</p>
		
		<textarea name="cell_shape_uniformity" rows="1" cols="50"></textarea>
		<br/>
		<p>Marginal Adhesion (1, 5, 3, ...)</p>
		
		<textarea name="marginal_adhesion" rows="1" cols="50"></textarea>
		<br/>
		<p>Single Epithelial Cell Size (2, 7, 3, ...)</p>
		
		<textarea name="epithelial_cell_size" rows="1" cols="50"></textarea>
		<br/>
		<p>Bare Nuclei (1, 2, 10, ...)</p>
		
		<textarea name="bare_nuclei" rows="1" cols="50"></textarea>
		<br/>
		<p>Bland Chromatin (3, ...)</p>
		
		<textarea name="bland_chromatin" rows="1" cols="50"></textarea>
		<br/>
		<p>Normal Nucleoli (1, 7, 3, ...)</p>
		
		<textarea name="normal_nucleoli" rows="1" cols="50"></textarea>
		<br/>
		<p>Mitoses (1/0)</p>
		
		<textarea name="mitoses" rows="1" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>